body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}
.block{
    width: 10vw;
    height: 10vw;
    background-color: black;
    color: rgba(255, 255, 255, 0.459);
}
.rotate{
   transform: rotate(+45deg);
}
button{
    border-color: black;
}
.block2{
    width: 10vw;
    height: 10vw;
}
img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
}
.scale{
    transform:scale(3)
}
.container{
    display: flex;
    
    
    width: 50vw;
    height: 10vw;
}
.block3{
    width: 5vw;
    height: 5vw;
    background-color: brown;
}
.block4{
    width: 10vw;
    height: 10vw;
    background-color: black;
}
.block9{
    width: 10vw;
    height: 10vw;
    background-color: black;
}
.div{
    width: 20vw;
    height: 20vw;
    background-color: aqua;
    text-align: center;
    position: relative;
}
.p{
    width: 2vw;
    height: 2vw;
    background-color: blueviolet;
    position: absolute;
}
